* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 45px;
    text-decoration: none;
    color: rgb(27, 27, 27);
    font-weight: 900;
}

.logo span {
    color: rgb(221, 181, 0);
}

.menu a{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: rgb(27, 27, 27);
    text-decoration: none;
}

.menu a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 4px;
    background: rgb(221, 181, 0);
    transition: .2s;
}

.menu a:hover::before {
    width: 100%;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    padding: 0 120px 0 0;
}


/* Sobre nós */
.nos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px;
}

.nos .interface{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    animation: changeBackground 15s infinite linear;
    width: 40vw;
    height: 60vh;
    padding: 0 100px;
    position: relative;
    background-size: cover;
}

@keyframes changeBackground {
    0% {
        background-image: url('../s4life/IMG/apartamento1.jpg');
    }
    16.06% {
        background-image: url('../s4life/IMG/apartamento2.jpg');
    }
    33.02%{
        background-image: url('../s4life/IMG/apartamento3.jpg');
    }
    49.08% {
        background-image: url('../s4life/IMG/apartamento4.jpg');
    }
    66.04% {
        background-image: url('../s4life/IMG/apartamento5.jpg'); 
    }
    83% {
        background-image: url('../s4life/IMG/apartamento3.jpg'); 
    }
    100% {
        background-image: url('../s4life/IMG/apartamento1.jpg'); 
    }
}

.nos p {
    color: white;
    font-size: larger;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* Produtos */
.produtos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
}


/* Perguntas */
.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}


.faq h2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
}

/* Contatos */
.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.contato h2{
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
}

/* Footer */
footer {
    width: 100%;
    color: white;
}

.footer_link {
    text-decoration: none;
}

#conteudo {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#contato h1 {
    margin-bottom: 0.75rem;
}

#social {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#social .link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
}

#social .link i {
    font-size: 1.80rem;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.lista h3 {
    letter-spacing: 1px;
}

.lista a {
    color: white;
    text-decoration: none;
}

#resumo span {
    color: rgb(221, 181, 0);
}

#direito {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}